html{
    background-image: url(../images/background-grid.png);
    background-color: var(--lightGrey);
    scroll-behavior: smooth;
}

body{
    margin: 0 8vw;
    font-family: "Outfit", serif;
    font-size: 18px;
    font-weight: 400px;
    color: var(--charcoal);
    
}

:root {
    --charcoal: #333333;
    --white: #ffffff;
    --black: #000000;
    --lightGrey: #f3f3f3;
    --green: #36D399;
    --pink: #FF4081;
    --orange: #FF8C42;
    --purple: #A259FF;
    --blue: #40A2D8;
    --yellow: #FFD700;
    --subText: #B9B9B9;
  }

.heading{
    font-size: 36px;
    font-weight: 500;
    text-align: center;
    font-family: "Fredoka", serif;
    margin-bottom: 30px;
}

.subheading{
    font-size: 30px;
    font-weight: 500;
}

/*NAVBAR*/

.circle {
    width: 30px;
    height: 30px;
    background-color: var(--orange);
    color: var(--white);
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: solid var(--white) 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.13);
}

.logo {
    font-size: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
}

nav{
    background-color: var(--white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
    box-shadow: 0px 0px 12.9px 2px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    max-height: 55px;
    margin-top: 20px;
    z-index: 10;
    position: fixed;
    width: 84%;
    box-sizing: border-box;
    
    
}

nav ul{
    list-style: none;
    display: flex;
    gap: 50px;
    margin: 0;
    padding: 0;
}

nav li { display: inline;}

nav a {
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease;
    color: var(--charcoal);
}

nav a:hover{
    color: var(--orange);
    
}

#nav-button{
    background-color: var(--orange);
    color: var(--white);
    padding: 7px 10px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
}

#nav-button:hover{
    background-color: #de6114;
}

.burger {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 25px;
    height: 18px;
    cursor: pointer;
    z-index: 11;
}

.burger span {
    background-color: var(--charcoal);
    height: 3px;
    width: 100%;
    border-radius: 2px;
}

@media only screen and (max-width: 768px) {
    body{
        margin: 0;
        width: 100%;
    }

    nav {
        flex-wrap: wrap;
        width: 100%;
        padding: 10px 25px;
    }

    .burger {
        display: flex;
    }

    .right {
        display: none;
        width: 100%;
    }

    .right.active {
        display: block;
        background-color: white;
        border-radius: 10px;
        margin-top: 20px;
        padding: 10px;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
        gap: 20px;
        margin-top: 15px;
    }

    nav li {
        display: block;
    }

    #nav-button {
        font-size: 16px;
    }

}